<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/public/css/main.css" />
</head>

<body>
    <header>
        <div class="inner">
            <nav>
                <a href="/" class="logo">
                    <img class="logo" src="/public/images/nodeLogo.png" alt="nodeLogo">
                </a>
                <input type="checkbox" id="nav" />
                <label for="nav"></label>
                <ul>
                    <li>
                        <a href="/addMeme">Add Meme</a>
                    </li>
                    <li>
                        <a href="/addGenre">Add Genre</a>
                    </li>
                    <li>
                        <a href="/viewAllMemes">View All Memes</a>
                    </li>
                    <li>
                        <a href="/searchMeme">Search</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    <h1>Add New Genre</h1>
    <div class="container">
        <form action="/addGenre" method="POST">
            <label for="genreTitle">Title</label>
            <input type="text" id="genreTitle" name="genreTitle" placeholder="Genre title">

            <input type="submit" value="Submit">
        </form>
    </div>
     {{#if uploadSucceed}}
    <div id="succssesBox">
        <h2 id="succssesMsg">Genre Added</h2>
    </div>
    {{else}}
    <div id="errBox">
        <h2 id="errMsg">Please fill all fields</h2>
    </div>
    {{/if}}

</body>

</html>