<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add meme</title>
</head>

<body>
    <form action="/addMeme" method="post" enctype="multipart/form-data">
        movie image<input type="file" name="image" id="image">
        title <input type="text" name="title" id="title">
        description<input type="text" name="description" id="description">
        
        <select name="privacy" id="privacy">
            <option value="public">public</option>
            <option value="private">private</option>
        </select>
        <input type="submit" value="Submit">
    </form>
</body>

</html>