<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Create Image</title>
</head>
<body>
    <form action="/createImage" method="post">
        url<input type="url" name="imageUrl" id="imageUrl">
        <br>
        description <input type="text" name="imageDescription" id="imageDescription">
        <br>
        title <input type="text" name="imageTitle" id="imageTitle">
        <br>
        tags <input type="text" name="imageTags" id="imageTags">
        <br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>