<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add Movie</title>
</head>

<body>
    <form action="/movie" method="post">
        title
        <input type="text" name="title" id="title">
        <br>
        url
        <input type="text" name="url" id="url">
        <br>
        Year of realease
        <input type="number" name="yearRelease" id="yearRelease">
        <br>
        synopsis
        <input type="text" name="synopsis " id="synopsis ">
        <br>
        <input type="submit" value="Submit">
    </form>
</body>

</html>