<div class="books">



     {{#each books}}
    <div class="book">
        <span>title</span>
        <h1>{{title}}</h1>
        author
        <h2>{{author}}</h2>
        year released
        <h3>{{yearRelease}}</h3>
        view more
        <a href="books/details/{{id}}">View more</a>
    </div>
    {{/each}}
</div>